%body
  .single-container
    / ヘッダー
    %header.single-header
      %h1
        = link_to image_tag("logo.svg") ,root_path
    / 登録一覧
    %main.single-main
      %section.l-single-container
        %h2.l-single-head 新規会員登録
        / 登録一覧選択
        .l-single-inner
          .l-single-content
            %a.btn-default.btn-mail{:href => ""}
              %i.fas.fa-envelope
              メールアドレスで登録
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              %i.icon-facebook
              Facebookで登録
            %button#google-login.btn-default.btn-sns.btn-sns-google
              Googleで登録
          / フッター
          %footer.single-footer
            %nav
              %ul.clearfix
                %li
                  %a{:href => ""} プライバシーポリシー
                %li
                  %a{:href => ""} メルカリ利用規約
                %li
                  %a{:href => ""} 特定商取引に関する表記
            .single-footer-logo-all
              = link_to image_tag("logo-gray.svg") ,root_path, class: "single-footer-logo"
            %p
              %small © 2019 Mercari
