a.sel-button{
    text-align: center;
    width: 160px;
    height: 160px;
    background: #ea352d;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    line-height: 60px;
  }
  a.sel-button-text{
    position:fixed;
    right:85px;
    bottom:135px;
    color:white;
    font-size:25px;

  }
 .fa-camera{
    position:fixed;
    right:77px;
    bottom:70px;
    color:white;
}
  .fa-camera:before{
    content: none;
    font-size: 64px;
  }
