.controll-table{
  width:700px;
  height: 350px;
  background-color:white;
  margin:0 auto;
  margin-top:80px;
  margin-bottom:80px;
  a{
  color:black;
  width:600px;
  height: 70px;
  display:inline-block;
  background-color:#a9a9a9;
  text-align: center;
  margin:20px 50px;
  font-size:18px;
  line-height: 4;
  font-weight: bold;
  color:white;
 }
 .red{
  background-color:red;
 }
 p{
  text-align: center;
 }
}
