%header
  .header-inner
    .header-inner__top
      .header-inner__top__left
      =link_to products_path, target: "_black" do
        =image_tag "https://i.gyazo.com/75329b28b2f5185097c4a3fac552c817.png", width: 148
      .header-inner__top__right
        = form_tag(products_search_path, method: :get ,:class => 'header-inner__form' ) do
          %input{:name => "keyword", :placeholder => "キーワードから探す", :type => "text", :value => ""}/
          %span.fa.fa-search
    .header-inner__bottom
      .header-inner__bottom__left
        %a カテゴリーから探す
        %a ブランドから探す
      .header-inner__bottom__right
        %a
          %span.fa.fa-user-circle>
            - if user_signed_in?
              =link_to 'マイページ', users_path
            - else
              =link_to 'マイページ', new_user_session_path
        %a
          %span.fa.fa-bell>
          お知らせ
        %a
          %span.fa.fa-check>
          やることリスト
